body {
    font-family: Arial;
    font-size: large;
    line-height: 2;
    margin: 1em;
    /* padding-top: 10em; */
    /* padding-right: 10em; */
    /* padding-bottom: 10em; */
    /* padding-left: 10em; */
    background:- white ;
    text-align: center;
}

h1 {
    padding-top: 4em;

}

p {
    margin: 2em 0;

}

img {
    width: 20em;
    max-width: 50%;
}