body {
    font-family: Arial;
    font-size: large;
    padding-top: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
    padding-left: 10em;
    background:- white ;
    text-align: center;
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2.7em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 2.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h4 {
    font-size: 1.9em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    margin: 2em 0;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;

}

img {
    width: 10em;
    max-width: 50%;
}