body {
    margin: 10;
    padding-top: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
    padding-left: 10em;
    background: white;
    text-align: center;
}

h1 {
    padding-top: 4em;

}

p {
    margin: 2em 0;

}

image-container {
    display: flex;
    justify-content: space-between; /* Distributes space between images */
    align-items: center; /* Aligns items vertically in the center */
  }

image-container img {
    width: 20em;
    max-width: 50%;
    margin-right: 10px;
}