
body {
    margin: 10;
    padding-top: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
    padding-left: 10em;
    background: rgba(56, 145, 145, 0.13);
    background-image: repeating-radial-gradient();
    text-align: center;
}

h1 {
    padding-top: 4em;

}

p {
    margin: 2em 0;

}

img {
    width: 20em;
    max-width: 50%;
}